body, html { 	
	/*Text Formatting*/	
	font-family: sans-serif;
	font-size: 12pt;
	color: gray;

	/* colour and design */
	background-color: black;

	/* margins */
	margin-left: 10rem;
	margin-right: 10rem;
}

a {
	text-decoration: none;
	color: gray;
	outline: none;
}

a:visited {
	color:gray;
}

a:hover {
	color:white;
}

.blog_preview{
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
}

/* blog excerpts */
.preview_item{
	margin: 1rem;
	height: 25rem;
}

#blog_image img{
	width: 25rem;
	height: 25rem;
}

/*NAVBAR*/
.navbar {
	/*Size and Positon*/
	display: flex;
	flex-direction: column;
	justify-content: center;

	/*Text Formatting*/
	font-size: 1.5rem;
	text-align: center;

	/* margins */
	margin-bottom: 2rem;
}

.navbar_item{
	/*Size and Positon*/
	width: auto;

	/* margins */
	margin-right: 1rem;
	margin-left: 1rem;
}