a {
	text-decoration: none;
	color: white
}

a:visited {
	color: white;
}

a:hover {
	color:gray;
}

.line{
	border: 0.1rem solid #808080;
}

body {
	/*Text Formatting*/	
	font-family: sans-serif;
	color: white;
	font-size: 1.2rem;

	/* colour and design */
	background-color: black;
}

/*NAVBAR*/
.navbar {
	/*Size and Positon*/
	display: flex;
	float: left;
	flex-direction: column;
	justify-content: center;
	width: 10%;

	/*Text Formatting*/
	font-size: 2rem;

}

.navbar_item{
	/*Size and Positon*/
	display: block;
	width: auto;
	height: 1rem;
	margin-bottom: 3rem;
}

/*blog post list*/
.blog {
	margin-top: 2rem;
	margin-left: 10%;
	text-align: center;
}

.blog_item {
	/*Dimensions*/
	display: inline-block;
	vertical-align: middle;
	margin: 0px 1rem;
	border-radius: 10px;
	height: 150px;
	width: 300px;
	padding: 1rem;

	/*text*/
	text-align: justify;
	text-overflow: ellipsis;

	/* colour */
	box-shadow: 0px 0px 1px 1px whitesmoke;
}

.header {
	margin: auto;
	text-align: center;
}

