
/*Home page*/
blockquote{
	text-align: center;
	font-style: italic;
}

.blogpost {
	margin-top: 2rem;
	margin : auto;
	text-align: left;
}

.image{
	max-height: 40rem;
	padding: 1rem;
}

.gallery{
	display: flex;
	justify-content: center;
	flex-direction: row;
}

