a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: blue;
}

a.current_page {
	text-decoration: underline;
	color: blue;
}
body {
	/*Text Formatting*/	
	font-family: sans-serif;
}

.navbar {
	/*Size and Positon*/
	width: 400px;
	margin: 100px auto 25px auto;
	display: flex;
	justify-content: center;

	/*Text Formatting*/
	font-size: 18pt;
}

.navbar_item{
	/*Size and Positon*/
	width: auto;
	height: 25px;
	margin: 0 15px 0 15px;
}