/*Profile Division*/
.profile_box {
	/*Size and Position*/
	display: flex;
	justify-content: center;
	margin: 100px auto 25px auto;
}

.profile_box_element {
	/*Size and Position*/
	display: inline-block;
	padding: 20px;
}

.header {
	/*Text Formatting*/
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 20px;

}
.profile_picture {
	/*Size and Position*/
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/*Main Box Division*/
.box_header {
	font-size: 16pt;
	font-weight: bold;
}

.main_box {
	/*Size and Position*/
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main_box_element{
	/*Size and Position*/
	display: block;
	float: left;
	width: 250px;
	height: 250px;
	margin: 30px;
	padding: 10px;
	border-radius: 25px;
	box-shadow: 0 5px 5px 1px gray;

	/*Text Formatting*/
	text-align: center;
	overflow: hidden;
}
