---
layout: baseLayout
---
<!-- <link rel="stylesheet" href="/assets/css/network_graphics.css"> -->
<head>
    <script src="/assets/js_files/hxh-cards/lightgallery.min.js"></script>
    <script src='/assets/js_files/hxh-cards/lg-thumbnail.min.js'></script>
    <link rel='stylesheet' href="/assets/css/hxh-cards/lightgallery.css"></link>
</head>

<!-- https://github.com/dimsemenov/PhotoSwipe -->

<div class="main_body">
    <div class='blog'>
        <h2>{{ page.title }}</h2>
        {{ page.date | date_to_string }} - {{ page.author}}
        {{content}}
        <div id='gallery'>
        {% for image in site.static_files %}
            {% if image.path contains 'images/hxh-cards/cards' %}
                <a href="{{ site.baseurl }}{{ image.path }}">
                <img class='thumbnail' src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                </a>    
            {% endif %}
        {% endfor %}
        </div>

<footer>
    <script src="/assets/js_files/hxh-cards/gallery.js"></script>
</footer>