---
layout: baseLayout
---
<link rel="stylesheet" href="/assets/css/network_graphics.css">

<!-- 
<div class="blog">
    <h2>{{ page.title }}</h2>
    {{ page.date | date_to_string }} - {{ page.author}}
    {{content}}
</div> -->    
<body>
    <div id="test1">1</div>
    <div id="test2">2</div>
    <div id="test3">3</div>
    <div id='network'>4</div>
    
    <img src='/assets/images/face.png' class='nodeImage'>

    <footer>
    <script src="/assets/d3/d3.js"></script>
    <script src='/assets/js_files/draw_network.js'></script>        
</footer>

