---
layout: baseLayout
---
<link rel="stylesheet" href="/assets/css/network_graphics.css">

<body>
    <div class="main_body">
        <div class="blog_flex">
            <div class='blog_item'>
                <img class='blog_image' src='../../../assets/images/seocu/seocu.jpg'></img>
            </div>
            <div class="blog_text">
                <h2>{{ page.title }}</h2>
                    {{ page.date | date_to_string }} - {{ page.author}}
                    {{content}}
            </div>
        </div>
    </div>   
</body>