---
layout: baseLayout
---
<link rel="stylesheet" href="/assets/css/network_graphics.css">

<body>
    <div class='container'>
        <div class="graphics" id='graphics'>
            <div id="dropdownMenu">
                <select type='dropdownMenu' id='menuOptions'></select>
            </div>
        </div> 

        <div class="blog">
            <h2>{{ page.title }}</h2>
            {{ page.date | date_to_string }} - {{ page.author}}
            {{content}}
        </div>
    </div>
    
<footer>
    <script src="/assets/sigma/Gruntfile.js"></script>
    <script src="/assets/sigma/require.js"></script>
    <script src='/assets/js_files/draw_network_sigma.js'></script>        
</footer>

